body, #root { 
    background-color: #556B2F;
    min-height: 100vh;           
}
h1, h2 { margin-left: 16px;}
table {border-collapse: collapse; margin-left: auto; margin-right: auto;}
th, td {
    border: 1px solid #646464;
    padding: 12px;
    text-align: center;
}
th {background-color: #646464;}
tr:nth-child(even) {background-color: #8d8d8d;}
.cuForm { margin-left: 32px;}
input, select { margin-bottom: 4px;margin-right: 12px;}
nav {background-color: #dfdada;padding: 16px;}
a {margin-left: 16px;}
.homepageDescription {margin-left: 32px;}
